﻿<ul class="nav navbar-nav">
    <li>
        <a href="#/home">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Home
        </a>
    </li> 
    <li data-ng-show="authentication.isAuth">
        <a href="#/book/list">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            Book
        </a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <strong data-ng-hide="authentication.isAuth">Guest</strong>
            <strong data-ng-show="authentication.isAuth">{{authentication.email}}</strong>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li data-ng-show="authentication.isAuth">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Profile
                </a>
            </li>
            <li data-ng-hide="authentication.isAuth">
                <a href="#/login">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    Login
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li data-ng-hide="authentication.isAuth">
                <a href="#/signup">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    Sign up
                </a>
            </li>
            <li data-ng-show="authentication.isAuth">
                <a href="#" data-ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    Logout
                </a>
            </li>
        </ul>
    </li>
</ul>
