﻿<div class="row">
    <div class="col-lg-4">
        <p>
            <a href="#/book/add" class="btn btn-link">
                <span class="fa fa-plus" aria-hidden="true"></span>
                Add new
            </a>
        </p>
    </div>
    <div class="col-lg-8">
        <form class="form-inline"   role="form" novalidate="novalidate" ng-submit="searching()" disable-auto-validate="true" validate-on-form-submit="true">
            <div class="form-group pull-right">
                <div class="input-group">
                    <input type="search" data-ng-model="search" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button> 
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                <a href="#/book/list?page={{page}}&search={{search}}&column={{column}}&sort={{sort}}" ng-click="sorting('title')">
                    Title
                    <span ng-show="column === 'title' && sort==='desc'" class="fa fa-caret-down"></span>
                    <span ng-show="column === 'title' && sort==='asc'" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                Authors
            </th>
            <th>
                Pages
            </th>
            <th>
                Publisher
            </th>
            <th>
                <a href="#/book/list?page={{page}}&search={{search}}&column={{column}}&sort={{sort}}" ng-click="sorting('year')">
                    Year
                    <span ng-show="column === 'year' && sort==='desc'" class="fa fa-caret-down"></span>
                    <span ng-show="column === 'year' && sort==='asc'" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                ISBN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in bookData">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.title}}
            </td>
            <td>
                <ul>
                    <li ng-repeat="author in item.authors">{{author.firstName}} {{author.lastName}}</li>
                </ul>
            </td>
            <td>
                {{item.countOfPage}}
            </td>
            <td>
                {{item.publisher}}
            </td>
            <td>
                {{item.year}}
            </td>
            <td>
                {{item.isbn}}
            </td>
            <td>
                <a href="#/book/edit?id={{item.id}}" class="btn btn-link">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                    Edit
                </a>
                <a href="#/book/remove?id={{item.id}}" class="btn btn-link" onclick="return confirm('You are sure?');">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                    Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-lg-4">
        <p>Showing {{pager.firstItemOnPage}} to {{pager.lastItemOnPage}} of {{pager.totalItemCount}} entries</p>
    </div>
    <div class="col-lg-8">
        <ul class="pagination  pull-right">
            <li class="previous disabled" ng-show="pager.isFirstPage||!pager.hasPreviousPage"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li class="previous" ng-hide="pager.isFirstPage||!pager.hasPreviousPage"><a href="#/book/list?page={{pager.pageNumber-1}}&search={{search}}&column={{column}}&sort={{sort}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
            <li ng-repeat="n in range(1,pager.pageCount)" ng-class="{'active': pager.pageNumber == n}"><a href="#/book/list?page={{n}}&search={{search}}&column={{column}}&sort={{sort}}">{{n}}</a></li>
            <li class="next disabled" ng-show="pager.isLastPage||!pager.hasNextPage"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
            <li class="next" ng-hide="pager.isLastPage||!pager.hasNextPage"><a href="#/book/list?page={{pager.pageNumber+1}}&search={{search}}&column={{column}}&sort={{sort}}">Next <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </div>
</div>
